/* Universal */
*{
    box-sizing: border-box;
}

:root{
    --primary: rgb(70, 70, 70);
    --accent: rgb(194, 255, 255);

}
/* Navigation Bar */
nav{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

h1{
    margin-right: auto;
    background-color: rgb(194, 255, 255);
    font-size: 1.4rem;
    text-align: right;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    color: rgb(70, 70, 70);
}

a{
    color: rgb(194, 255, 255);
    
}

li{
    display: inline;
    font-size: 1.4rem;
    padding: 1em;
}

p{
    font-family: sans-serif;
    line-height: 1.5em;
    padding: 2em;
    margin: 0 0 1.5em;
    text-align: center;
}

/* HERO BANNER */
.hero-banner{
    background-image: url("hero-banner.jpg");
    background-size: cover;
    padding: 10%;
    text-align: center;
    margin: auto;
    
    
}


.hero-banner-text{
    position: relative;
    background-color: rgb(194, 255, 255);
    color: rgb(70, 70, 70);
    padding: 1em;
    
    right: 0;
    text-align: right;

    
}

/* Main Section */
.page-section{
    display: flex;
    margin: 2%;
    padding: 1%;
    width: 100%;
    
}

.page-section-header{
    color: rgb(0, 44, 165);
    border-right: .3em solid rgb(0, 44, 165);
    padding: 1em;
    text-align: right;
    font-size: 1em;
    width: 20%;
    flex-shrink: 0;
    flex-grow: 0;
}


/* About me Section */
.about-me-article{
    max-width: 60vw;
    padding-left: 2em;
}

/* Project Display Section */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 1em;
    width: 600px;
    margin: auto; 
    gap: 1em 1em;
}

.first-project{
    background-color: green;
    order: 1;
    background-image: url("hero-banner.jpg");
    background-size: cover;
    position: relative;

}
.project-link-first{
    height: 200px;
    width: 600px;
    background-image: url("hero-banner.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.first-project-heading{
    position: absolute;
    left: 0;
    background-color: rgb(194, 255, 255);
    color: var(--primary);
    padding: 1em;
    bottom: -155px;
}


.project{
    background-color: brown;
    height: 250px;
    width: 250px;
    flex-shrink: 1;
    position: relative;
    
}
.project-heading{
    position: absolute;
    left: 0;
    bottom: 3em;
    background-color: rgb(194, 255, 255);
    color: var(--primary);
    padding: 1em;
}
.project-link{
    padding: 0em;
    
}
.project-2{
    height: 250px;
    width: 250px;
    background-image: url("project2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.project-3{
    height: 250px;
    width: 250px;
    background-image: url("project3.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.project-4{
    height: 250px;
    width: 250px;
    background-image: url("project4.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.project-5{
    height: 250px;
    width: 250px;
    background-image: url("project5.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

/* FOOTER */
.contact-li{
    color: var(--primary);
}
.contact-link{
    color: var(--primary);
}
#contact-me{
    margin-bottom: 1em;
}

/* Media Querys */
@media (max-width: 776px){
    /* Nav Bar */
    .nav{
        align-items: center;
        
    }
    li{
        display: block;
        padding: .4em;
    }
    /* Hero Banner */
    .hero-banner{
        display: flex;
        justify-content: center;
    }
    .hero-banner-text{
        right: auto;
    }
    /* Main Section */
    .about-me-article{
        max-width: 90vw;
    }
    .page-section{
        flex-direction: column;
        align-items: center;
        justify-content: ;
        
        
    }
    .page-section-header{
        border-right: 0;
        border-bottom: .3em solid rgb(0, 44, 165);
        text-align: center;
        
    }
    .flex-container{
        width: 600px;
    }
    .first-project{
        flex: 1;
    }
    .first-project-heading{
        bottom: -155px;
    }
    .project{
        flex: 1;
    }

    /* Footer */
    .contact-li{
        display: inline;
        justify-content: space-between;
        
    }
    .contact-link{
        color: var(--primary);
        padding-top: 1em;
    }
    #contact-me{
        gap: .6em;
    }

}
@media (max-width: 600px){
    .flex-container{
        width: 80vw;
    }
    .first-project-heading{

        bottom: -160px;
    }
}
@media (max-width: 576px){
    .nav{
        display: block;
        text-align: center;
        
    }
    .page-section{
        
    }
    .flex-container{
        

    }
    .project-link-first{

        background-image: url("hero-banner.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        padding-top: 0;
        margin-top: 0;
    }

    .first-project{
        flex: 1;
    }
    .project{
        flex: 1;
    }
    .about-me-article{
        padding-left: 0;
    }
    .contact-li{
        display: block;
        justify-content: space-between;
        text-align: center;
        padding: .2em;
        
    }
    #contact-me{
        gap: .2em;
    }

}